.carousel_container {
  max-width: 800px;
  border-radius: 8px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin: 50px auto 50px 500px;
}

.carousel_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container {
  background-color: #fff;
  padding: 0;
  box-shadow: none;
}

.mySwiper {
  .carousel .slide {
    background: none;
  }

  .carousel .control-arrow {
    display: none;
  }
}

.swipItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  .detail {
    text-align: center;
    width: 100%;

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      color: #333;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: #666;
    }
  }
}
