.footer {
    background-color: rgba(63, 118, 224, 0.58);
    color: white;
    font-size: 20px;
    list-style-type: none;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    color: dimgrey;
    text-decoration: none;
}
.address_list{
    list-style: none;
}
.address_link {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
}
.subscription_form {
    display: flex;
    justify-content: center;
}
.colortext {
    display: inline-block;
    width: 175px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;


    box-sizing: border-box;
    border-radius: 4px;
}

.subscribe_btn {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: rgba(63, 118, 224, 0.58);
    width: 115px;
    height: 50px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    border-radius: 5px;
    border: 1px solid rgba(63, 118, 224, 0.58);
}
