.imgContainer {

  padding: 10px;
  max-width: 400px; /* Increase max-width */
  max-height: 400px; /* Increase max-height */
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  .imgWrapper img {
    object-fit: contain; /* Maintain aspect ratio, fitting the image within its container */
  }
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textContainer {
  text-align: left;
  margin-bottom: 20px;
}

/* Update the SCSS for the buttons */
.buttonStyle {
  border: 2px solid black;
  background-color: green;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s,
  color 0.3s;

  &:hover {
    background-color: #ff69b4;
    color: white;
  }
}

/* Update the class name for the button container */
.speakButton {
  width: 40px; /* Adjust the width to match your image size */
  height: 40px; /* Adjust the height to match your image size */
  cursor: pointer;
}

/* Update the class name for the button container */
.buttonContainerWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add some spacing between buttons */
}

/* ... other styles ... */

/* Style result messages */
.result {
  margin-top: 20px;
  margin-bottom: 80px;
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  transform: translateX(-50%); /* Center result text horizontally */
  color: #ff69b4;
  background-color: white;
  font-weight: bold;
  font-size: 22px;
  animation: bounce 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &:hover {
    animation: scale 0.5s infinite;
  }

  &.correct {
    font-size: 28px;
    color: #008000;
    background-color: white;
    animation: bounce 0.5s 3 alternate;
  }
}

/* Additional styles */
.pointsDisplay {
  font-size: 18px;
  margin-bottom: 20px;
}
.backArrows {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 10px; /* Adjust the distance from the left */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Add some spacing between buttons */
  max-width: 100px;
}

.backArrows button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.backArrows button:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}


/* Keyframes for animations */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}