.hero_container {
    font-family: Gabriola, serif;
    position: relative;
    width: 100vw;
    max-height: 700px;
    object-fit: cover;
    margin-bottom: 45px;
    background-color: #65b8bf; /* Light blue background */
}

.hero_img {
    width: 70%; /* Adjust the width as needed */
    max-height: 400px; /* Adjust the max-height as needed */
    object-fit: contain;
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure the image is centered */
}

.hero_title {
    position: absolute;
    top: 10%; /* Adjust the top position as needed */
    left: 10%; /* Adjust the left position as needed */
    color: #004092; /* Dark blue text color */
    font-size: 2rem; /* Match the font size used in levels */
}

.hero_button {
    position: absolute;
    bottom: 10%; /* Adjust the bottom position as needed */
    left: 10%; /* Adjust the left position as needed */
    background-color: #ff6b6b; /* Reddish-pink background for a cartoon-like look */
    border: none;
    color: white; /* White text color for contrast */
    text-decoration: none;
    padding: 20px 30px; /* Increase padding for a larger button */
    border-radius: 30px; /* Make the button more rounded */
    box-shadow: 0px 4px 8px rgba(13, 4, 5, 0.1);
    font-weight: bold; /* Increase font weight for prominence */
    font-size: 1.5rem; /* Increase font size for emphasis */
    transition: background-color 0.3s, transform 0.2s; /* Add transitions for interactivity */
    cursor: pointer;
}

.hero_button:hover, .hero_button:focus {
    background-color: #ff4f4f; /* Darker background color on hover for emphasis */
    transform: scale(1.05); /* Slightly scale up the button on hover for interaction */
}



