
/* Level1.module.css */
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F0F8FF; /* Light blue background */
}

.pageTitle {
    font-size: 2rem;
    color: #1E90FF; /* Blue text color */
    margin-bottom: 20px;
}

.categoryContainer {
    margin-top: 20px;
}

/* Style for each category heading */
.categoryContainer h2 {
    font-size: 1.5rem;
    color: #1E90FF; /* Blue text color */
}

.flashcardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Add more styles as needed */
