.levels_container {
  max-width: 800px;
  margin: 50px 20% 50px 10%; 
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden; 
}

.header {
  font-size: 2rem; 
  font-weight: bold;
  color: #3c3b37; 
  margin-bottom: 30px;
  text-align: center;
}

/* List styling */
.levels_list {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.levels_item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f7f7f7; 
  border-radius: 8px;
  transition: box-shadow 1s ease, transform 1s ease;
  position: relative; 
  overflow: hidden; 
}

.levels_item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #58cced;
  transition: left 1s ease;
  z-index: 0;
}

.levels_item:hover::before {
  left: 0;
}

.levels_item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px); 
}

.levels_link {
  text-decoration: none;
  display: block; 
  position: relative; 
}

.level_title, .level_description {
  position: relative; 
  z-index: 1;
}

.level_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3c3b37;
  margin-bottom: 5px;
}

.level_description {
  font-size: 1rem;
  font-weight: normal;
  color: #3c3b37;
  margin-bottom: 10px;
}

.level_button {
  position: top;
  top: 10px;
  right: 10px;
  padding: 10px;
  z-index: 2; 
  border: none; 
  border-radius: 20px; 
  background-color: #ffcd1f; 
  color: #3c3b37; 
  cursor: pointer;
  transition: transform 0.5s ease;
}

.level_button:hover {
  transform: scale(1.05);
}


@keyframes rotate-refresh {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.level_button:hover .MuiSvgIcon-root {
  animation: rotate-refresh 2s linear infinite;
}


@media (max-width: 900px) {
  .levels_container {
    margin: 20px;
    padding: 10px;
  }

  .header {
    font-size: 1.8rem;
  }

  .level_title {
    font-size: 1.3rem;
  }
}

