/* main-page.css */

@font-face {
    font-family: "Dela Gothic One"; /* Specify the font family name */
    src: url('../../public/fonts/DelaGothicOne-Regular.ttf') format('truetype'); /* Specify the path to your TTF font file */
}

.custom-font {
    font-family: 'Dela Gothic One', sans-serif; /* Use the imported font family name */
}

/* Style the Hero component */
.Hero {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

/* Style the Levels component */
.Levels {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}

/* Style the Carousel component */
.Carousel {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}

/* Style the Footer component */
.Footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

