@font-face {
  font-family: "Dela Gothic One"; /* Specify the font family name */
  src: url('../../public/fonts/DelaGothicOne-Regular.ttf') format('truetype'); /* Specify the path to your TTF font file */
}

.custom-font {
  font-family: 'Dela Gothic One', sans-serif; /* Use the imported font family name */
}

.navbar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2d021;
  color: #ffffff;

  .navItems {
    display: flex;
    gap: 15px;
    margin-left: auto;
  }

  .navButton {
    background-color: #ffffff;
    color: #2a2a65;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Dela Gothic One";

    &:hover {
      background-color: #ddd;
    }
  }

  .avatarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    background-color: lightblue;
    transition: transform 0.5s ease-in-out;
    margin-left: 20px;
  }
}

.avatarButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.avatarHovered {
  transform: scale(1.4);
}

