.navbar {
    background-color: #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 4px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all 0.5s ease;
    border-bottom: 2px solid #ddd;
}


.navItems {
    display: flex;
    gap: 15px;
    margin: 0 20px;
    align-items: center;
}


.navButton, .langButton {
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin: 12px 10px;
    transition: background-color 0.3s;
}

.navButton:hover, .langButton:hover {
    background-color: rgba(28,176,246,0.6);
}


.avatarContainer, .langContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.avatar, .lang {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.avatar:hover {
    transform: scale(1.2);
}


.languageDropdown {
    position: relative;
    display: inline-block;
}

.languageOptions {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    border: 1px solid #ccc;
    z-index: 100;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; 
}

.languageDropdown:hover .languageOptions {
    display: block;
}

.languageOption {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    cursor: pointer;
    width: 100%; 
}

.languageOption:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.flagOption {
    width: 30px;
    height: 20px;
    object-fit: cover;
}

.optionText {
    margin-left: 10px;
    color: #333;
}
.navbarHidden {
    transform: translateY(-100%);
    transition: all 0.3s ease;
}

.langIcon {
    width: 24px;
    height: 24px;
    padding-bottom: 3px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navItems, .avatarContainer, .langContainer {
        width: 100%;
        justify-content: space-between;
    }

    .avatar, .lang {
        width: 30px;
        height: 30px;
    }
}

