@font-face {
    font-family: "Dela Gothic One"; /* Specify the font family name */
    src: url('../../public/fonts/DelaGothicOne-Regular.ttf') format('truetype'); /* Specify the path to your TTF font file */
}

.custom-font {
    font-family: 'Dela Gothic One', sans-serif; /* Use the imported font family name */
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    //duolingo green 
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    max-width: 300px;
    z-index: 1000;
}

.toast.show {
    transform: translateY(0);
    opacity: 1;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
}
.icon {
    position: flex;
    padding: 15px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;

}



