.logo_link{
    cursor:pointer;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(63, 118, 224, 0.58);
    color: #ffffff;
    margin: auto;
    border: 1px solid rgba(63, 118, 224, 0.58);
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav_container{
    justify-content: center;

    width: 75vw;
    padding: 50px;
    font-size: 25px;
}
.navbar_list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}
.nav_link {
    text-decoration: none;
    cursor:pointer;
    margin-right: 40px;
}
.nav-link:hover {
    color: rgba(63, 118, 224, 0.58);
    background-color: #ffffff;
    margin: 5px 9px;
    padding: 15px 30px;
    text-align: center;
    border: none;
    border-radius: 20px;
}

/*========== HERO ==============*/
.hero_container{
    width: 100vw;
    height: 700px;
    position: relative;
}
.hero_img{
    position: absolute;
    top:50px;
    right:0;
    width: 350px;
}
.hero_img2{
    position: absolute;
    top:150px;
    left:200px;
    width: 350px;
}
.hero_img3{
    position: absolute;
    top:300px;
    right:450px;
    width: 350px;
}
.hero_title{
    position: absolute;
    top:45px;
    left:35%;
    color: rgba(39, 70, 134, 0.58);
    font-size: 70px;
}

/*levels*/
.levels_container, .carousel_container{
    width: 100vw;
    text-align: center;
}
.levels_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.levels_item{
    width: 30vw;
    border: 1px solid rgba(63, 118, 224, 0.58);

}
 /*=======  Footer   ========*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(63, 118, 224, 0.58);
    color: white;
    font-size: 20px;
    list-style-type: none;
}

.footer_container{
    align-items: flex-start;
}

.logo {
    color: dimgrey;
    text-decoration: none;
}
.address_list{
    list-style-type: none;
}
.address_link {
    display: inline-block;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
}

.address-link.map {
    color: #fff;
    margin-top: 20px;
}
.footer_title {
    width: 145px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;

    margin-top: 0px;
    margin-bottom: 20px;
}

.subscribe-section {
    width: 206px;
    margin-left: 70px;
    margin-right: 93px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.social-list-footer {
    display: flex;
}

.social-section-footer {
    width: 206px;
    height: 44px;
    justify-content: center;
}

.social-icon-footer {
    fill: #fff;
}
.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
}


.subscription {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    /*margin-top: 12px;*/
}

.subscription_form {
    display: flex;
    justify-content: center;
}
.colortext {
    display: inline-block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    /*background-color: #2f303a;*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-top: 0px;

    box-sizing: border-box;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));*/
    border-radius: 4px;
}

.hero_btn {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: rgba(63, 118, 224, 0.58);
    width: 175px;
    height: 50px;

    /*margin-left: 12px;*/
    /*margin-top: 20px;*/
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    border-radius: 4px;
}

/* ===END FOOTER ===*/