/*
@font-face {
  font-family: 'Karma Future';
  src: url('../../public/fonts/Karma Future.otf') format('opentype'); /* Path to Karma Future font */
/*}

@font-face {
  font-family: 'Karma Suture';
  src: url('../../public/fonts/Karma Suture.otf') format('opentype'); /* Path to Karma Suture font }*/


.container {
  font-family: 'Karma Suture', sans-serif; /* Specify the font stack */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.currentDetails {
  border: 2px solid #2196F3;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #E6E6FA;
  border-radius: 10px;
  margin-top: 30px;
}

.currentDetails h2 {
  font-size: 18px;
  color: #333;
}

.welcome {
  font-family: 'Karma Future', sans-serif;
  font-size: 36px;
}


.updateBox {
  margin: 10px;
  font-family: 'Karma Suture', sans-serif;
  border: 2px solid #4CAF50;
  padding: 20px;
  background-color: #E0F2F1;
  border-radius: 10px;
  width: 70%;
  max-width: 800px;
}

.update-section {
  margin-bottom: 10px;
}

.adjustButton {
  font-family: 'Karma Suture', sans-serif;
  color: black;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7px;
  font-size: 18px;
  border: 2px solid darkblue;
}

.showButton {
  margin: 5px;
  font-family: 'Karma Suture', sans-serif;
  background-color: yellow;
  color: black;
  border: solid 2px black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.saveButton {
  font-family: 'Karma Suture', sans-serif;
  margin: 3px;
  background-color: #E6E6FA;
  color: black;
  border: solid 1px darkblue;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.saveButton:hover, .adjustButton:hover, .showButton:hover {
  background-color: #45a049;
}

#text, #email, #password {
  width: 100%;
  padding: 10px;
  border: 2px solid darkblue;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.inputField {
  width: 80%;
  padding: 8px; /* Increase padding for height */
  border: 2px solid #ccc; /* Add a border */
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Karma Future', sans-serif; /* Use Karma Future font */
  font-size: 16px; /* Increase font size */
}

.avatarsOn {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.avatar {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.avatar:hover {
  border-color: #4caf50;
}

.selected {
  border-color: #4caf50;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  background-color: lightblue;
  transition: transform 0.5s ease-in-out;
}

.avatarHovered {
  transform: scale(1.4);
}

.avatarContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  gap: 1px; /* Reduce the gap between avatars */
  margin-top: 10px; /* Add margin to the top if needed */
}

.avatarImage {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
  cursor: pointer;
  filter: grayscale(5%) opacity(0.8);
  transition: transform 0.4s cubic-bezier(0.300, 0.2, 0.355, 1),
  filter 0.3s ease;

  &:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
    filter: grayscale(0%) opacity(1);
  }
}

.selectedAvatar {
  border: 3px solid #007BFF;
  border-radius: 50%;
}

.avatarsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  gap: 20px;
}

.selectedAvatar {
  border: 3px solid #007BFF;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .updateBox, .currentDetails {
    width: 100%;
  }
}