
.currentDetails {
    border: 2px solid #2196F3;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.currentDetails h2 {
    font-size: 18px;
    color: #333;
}


.updateBox {
    border: 2px solid #4CAF50;
    padding: 20px;
    background-color: #E0F2F1;
    border-radius: 10px;
}

.update-section {
    margin-bottom: 10px;
}

.adjustButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 18px;
}
.showButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.saveButton {
    background-color: #4CAF50;
    color: green;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.saveButton:hover, .adjustButton:hover, .showButton:hover {
    background-color: #45a049;
}

#text, #email, #password
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.avatarsOn {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.avatar {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.avatar:hover {
    border-color: #4caf50;
}

.selected {
    border-color: #4caf50;
}

.avatarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    background-color: lightblue;
    transition: transform 0.5s ease-in-out;
}


.avatarButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.avatarHovered{
    transform: scale(1.4);
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;

    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1,5px;
        position: relative;
    }
}



.avatarsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.avatarImage {
    width: 70%;
    border-radius: 50%;
    cursor: pointer;
    filter: grayscale(5%) opacity(0.8);
    transition:
            transform 0.4s cubic-bezier(0.300, 0.2, 0.355, 1),
            filter 0.3s ease;

    &:hover {
        transform: scale(1.23);
        filter: grayscale(0%) opacity(1);
    }
}
.selectedAvatar {
    border: 3px solid #007BFF;
    border-radius: 50%;
}

.avatarButtoncontainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newUserButton,
.selectAvatarButton,
.closeModalButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.newUserButton {
    background-color: #007BFF;
    color: #fff;

    &:hover {
        background-color: #0056b3;
    }

    &:disabled {
        background-color: #b3c2d1;
        cursor: not-allowed;
    }
}

.selectAvatarButton {
    background-color: #00bfa5;
    color: #fff;

    &:hover {
        background-color: #009580;
    }
}

.closeModalButton {
    background-color: #f44336;
    color: #fff;
    margin-top: 20px;

    &:hover {
        background-color: #d32f2f;
    }
}





/* You can add more specific styles as needed */
