/* src/styles/UserPage.module.css */
.welcome-page {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements horizontally */
    height: 150vh;
}

@font-face {
    /*font-family: 'Karmatic Arcade Font';
    src: url('../../public/fonts/ka1.ttf') format('truetype'),
    url('../../public/fonts/ka1.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

.centered-heading {
    text-align: center;
    /*font-family: 'Karmatic Arcade Font', sans-serif;*/
    margin-top: 5%;

}

.adjust-button {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    /* Remove align-items property to center the button */
    font-family: 'Karmatic Arcade Font', sans-serif;
    margin-top: 20px; /* Adjust the top margin */
    font-size: 18px; /* Font size for "Adjust your settings here" text */
    color: #9370DB; /* Pastel purple color */
}

.page-title {
    font-size: 30px;
}

/* Add styles for the username row */
.username-row {
    display: none; /* Initially hide the username row */
    margin-top: 20px; /* Adjust the top margin */
}

.username-text {
    font-size: 24px;
    color: #9370DB; /* Pastel purple color */
}

.username-input {
    font-size: 18px; /* Font size for the input field */
    padding: 20px;
    margin-top: 20px;
}

/* Add styles for the "Save" button */
.save-button {
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 5px;
    background-color: #9370DB;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.action-button {
    font-size: 30px;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
}
