/* UserPointsComponent.module.scss */

.userPointsContainer {
    text-align: center;
    padding: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    width: 70%;
    max-width: 800px;
    margin: 10px;
}

/* Add a new class for the reward grid */
.rewardGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Five columns */
    grid-gap: 5px; /* Gap between rewards */
    max-width: 100%; /* Ensure rewards don't exceed container width */
}

.rewardItem {
    max-width: 30%; /* Limit rewards to a maximum of 16% of their original size */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Remove background color for rewards */
}

.rewardImage {
    max-width: 100%; /* Ensure the image doesn't exceed the reward item */
}


.userPointsHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pointsVisual {
    display: flex;
    align-items: center;
}

.starIcon {
    font-size: 24px;
    margin: 0 10px;
    color: #fdd835; /* Yellow color for stars */
}

.pointsCount {
    font-size: 28px;
    font-weight: bold;
}

.motivationMessage {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.practiceButton,
.rewardsButton {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Blue color for buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.practiceButton:hover,
.rewardsButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.rewardModal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 999; /* Ensure modal is on top of everything */
    overflow: auto;
}

/* Style for the modal content */
.rewardModalContent {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    position: relative;
    border-radius: 5px;
}

/* Style for the close button */
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Enlarged reward image */
.enlargedRewardImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
